<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
 <!-- Doc Links - SCIM - main-->
  <t:site key="SCIMDocs">/scim/</t:site>
 <!-- Installers -->
  <t:site key="SCIMdownload">https://thycoticdownloadsprod.blob.core.windows.net/ssintegrations/SCIMConnector/SCIMConnector.2.5.msi</t:site>
 <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>
</t:sites>