<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">

 <!-- Doc Links - SCIM - main-->
  <t:site key="SCIMDocs">/scim/</t:site>

 <!-- Installers -->
  <t:site key="MessingHostInstaller">SCIM software download](https://thy.center/scim/link/SCIMdownload</t:site>

 <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>

</t:sites>