<t:sites xmlns:t="urn:thycotic-SiteConfig">

<t:site key="SCIMDocs">/scim/</t:site>

<t:site key="SCIMdownload">https://thycoticdownloadsprod.blob.core.windows.net/ssintegrations/SCIMConnector/SCIMConnector.2.5.msi </t:site>

<t:site key="EULA">https://thycotic.com/company/eula/ </t:site>
</t:sites>